:root{
    --Rosewater:      #f4dbd6;
    --RosewaterRGB:   244, 219, 214;

    --Flamingo:       #f0c6c6;
    --FlamingoRGB:    240, 198, 198;

    --Pink:           #f5bde6;
    --PinkRGB:        245, 189, 230;

    --Mauve:          #c6a0f6;
    --MauveRGB:       198, 160, 246;

    --Red:            #ed8796;
    --RedRGB:         237, 135, 150;

    --Maroon:         #ee99a0;
    --MaroonRGB:      238, 153, 160;

    --Peach:          #f5a97f;
    --PeachRGB:       245, 169, 127;

    --Yellow:         #eed49f;
    --YellowRGB:      238, 212, 159;

    --Green:          #a6da95;
    --GreenRGB:       166, 218, 149;

    --Teal:           #8bd5ca;
    --TealRGB:        139, 213, 202;

    --Sky:            #91d7e3;
    --SkyRGB:         145, 215, 227;

    --Sapphire:       #7dc4e4;
    --SapphireRGB:    125, 196, 228;

    --Blue:           #8aadf4;
    --BlueRGB:        138, 173, 244;

    --Lavender:       #b7bdf8;
    --LavenderRGB:    183, 189, 248;

    --Text:           #cad3f5;
    --TextRGB:        202, 211, 245;

    --Subtext1:       #b8c0e0;
    --Subtext1RGB:    184, 192, 224;

    --Subtext2:       #a5adcb;
    --Subtext2RGB:    165, 173, 203;

    --Overlay2:       #939ab7;
    --Overlay2RGB:    147, 154, 183;

    --Overlay1:       #8087a2;
    --Overlay1RGB:    128, 135, 162;

    --Overlay0:       #6e738d;
    --Overlay0RGB:    110, 115, 141;

    --Surface2:       #5b6078;
    --Surface2RGB:    91, 96, 120;

    --Surface1:       #494d64;
    --Surface1RGB:    73, 77, 100;

    --Surface0:       #363a4f;
    --Surface0RGB:    54, 58, 79;

    --Base:           #24273a;
    --BaseRGB:        36, 39, 58;

    --Mantle:         #1e2030;
    --MantleRGB:      30, 32, 48;

    --Crust:          #181926;
    --CrustRGB:       24, 25, 38;
}