:root {
	/* General color definitions */
	--ieee-blue: 		#00629B;
	--ieee-blue-rgb: 	0, 98, 155;

	--hkn-gold:  		#FFC72C;
	--hkn-gold-rgb:  	255, 199, 44;
    --hkn-navy:         #002855;
	
	--unt-green: 		#00853E;
	--unt-green-rgb: 	0, 123, 60;
    /************************************************/
    /************************************************/
    /* Nord Color Palette */
    --nord-polar-night-darkest:         #2e3440;
    --nord-polar-night-dark:            #3b4252;
    --nord-polar-night-light:           #434c5e;
    --nord-polar-night-lightest:        #4c566a;

    --nord-snow-storm-dark:             #d8dee9;
    --nord-snow-storm-darkRGB:          216, 222, 233;
    --nord-snow-storm-medium:           #e5e9f0;
    --nord-snow-storm-mediumRGB:        229, 233, 240;
    --nord-snow-storm-light:            #eceff4;
    --nord-snow-storm-lightRGB:         236, 239, 244;

    --nord-frost-green:                 #8fbcbb;
    --nord-frost-light-blue:            #88c0d0;
    --nord-frost-blue:                  #81a1c1;
    --nord-frost-dark-blue:             #5e81ac;

    --nord-aurora-red:                  #bf616a;
    --nord-aurora-orange:               #d08770;
    --nord-aurora-yellow:               #ebcb8b;
    --nord-aurora-green:                #a3be8c;
    --nord-aurora-purple:               #b48ead;
    /************************************************/
    /************************************************/
    /************************************************/
    /* Kanegawa Palette */
    /* https://github.com/rebelot/kanagawa.nvim */
    --fujiWhite:        #DCD7BA;    /* Default foreground */
    --oldWhite:         #C8C093;    /* Dark foreground (statuslines) */
    
    --fujiWhiteRGB:     220, 215, 186;
    --oldWhiteRGB:      200, 192, 147;


    --sumiInk0:         #16161D;    /* Dark background (statuslines and floating windows) */
    --sumiInk1:         #1F1F28;    /* Default background */
    --sumiInk2:         #2A2A37;    /* Lighter background (colorcolumn, folds) */
    --sumiInk3:         #363646;    /* Lighter background (cursorline) */
    --sumiInk4:         #54546D;    /* Darker foreground (line numbers, fold column, non-text characters), float borders */
    
    --sumiInk0RGB:      22, 22, 29;
    --sumiInk1RGB:      31, 31, 40;
    --sumiInk2RGB:      42, 42, 55;
    --sumiInk3RGB:      54, 54, 70;
    --sumiInk4RGB:      84, 84, 109;


    --waveBlue1:        #223249;    /* Popup background, visual selection background */
    --waveBlue2:        #2D4F67;    /* Popup selection background, search background */
    
    --waveBlue1RGB:     34, 50, 73;
    --waveBlue2RGB:     45, 79, 103;


    --winterGreen:      #2B3328;    /* Diff Add (background) */
    --winterYellow:     #49443C;    /* Diff Change (background) */
    --winterRed:        #43242B;    /* Diff Deleted (background) */
    --winterBlue:       #252535;    /* Diff Line (background) */
    
    --winterGreenRGB:   43, 51, 40;
    --winterYellowRGB:  73, 68, 60;
    --winterRedRGB:     67, 36, 43;
    --winterBlueRGB:    37, 37, 53;


    --autumnGreen:      #76946A;    /* Git Add */
    --autumnRed:        #C34043;    /* Git Delete */
    --autumnYellow:     #DCA561;    /* Git Change */
    
    --autumnGreenRGB:   118, 148, 106;
    --autumnRedRGB:     195, 64, 67;
    --autumnYellowRGB:  220, 165, 97;


    --samuraiRed:       #E82424;    /* Diagnostic Error */
    --roninYellow:      #FF9E3B;    /* Diagnostic Warning */
    --waveAqua1:        #6A9589;    /* Diagnostic Info */
    --dragonBlue:       #658594;    /* Diagnostic Hint */
    
    --sumraiRedRGB:     232, 36, 36;
    --roninYellowRGB:   255, 158, 59;
    --waveAqua1RGB:     106, 149, 137;
    --dragonBlueRGB:    101, 133, 148;


    --fujiGray:         #727169;    /* Comments */

    --fujiGrayRGB:      114, 113, 105;


    --springViolet1:    #938AA9;    /* Light foreground */

    --springViolet1RGB: 147, 138, 169;


    --oniViolet:        #957FB8;    /* Statements and Keywords */

    --oniVioletRGB:     149, 127, 184;


    --crystalBlue:      #7E9CD8;    /* Functions and Titles */

    --crystalBlueRGB:   126, 156, 216;


    --springViolet2:    #9CABCA;    /* Brackets and punctuation */

    --springViolet2RGB: 156, 171, 202;


    --springBlue:       #7FB4CA;    /* Specials and builtin functions */

    --springBlueRGB:    127, 180, 202;


    --lightBlue:        #A3D4D5;    /* Not used */

    --lightBlueRGB:     163, 212, 213;


    --waveAqua2:        #7AA89F;    /* Types */

    --waveAqua2RGB:     122, 168, 159;


    --springGreen:      #98BB6C;    /* Strings */

    --springGreenRGB:   152, 187, 108;


    --boatYellow1:      #938056;    /* Not used */
    --boatYellow2:      #C0A36E;    /* Operators, RegEx */

    --boatYellow1RGB:   147, 128, 86;
    --boatYellow2RGB:   192, 163, 110;


    --carpYellow:       #E6C384;    /* Identifiers */

    --carpYellowRGB:    230, 195, 132;


    --sakuraPink:       #D27E99;    /* Numbers */

    --sakuraPinkRGB:    210, 126, 153;


    --waveRed:          #E46876;    /* Standout specials 1 (builtin variables) */
    --peachRed:         #FF5D62;    /* Standout specials 2 (exception handling, return) */

    --waveRedRGB:       228, 104, 118;
    --peachRedRGB:      255, 93, 98;


    --surimiOrange:     #FFA066;    /* Constants, imports, booleans */

    --surimiOrangeRGB:  255, 160, 102;


    --katanaGray:       #717C7C;    /* Deprecated */

    --katanaGrayRGB:    113, 124, 124;
    /************************************************/
    /************************************************/
    /* Catpuccin Latte (light) */
    /* https://github.com/catppuccin/catppuccin */
    --latteRosewater:      #DC8A78;
    --latteRosewaterRGB:   220, 138, 120;

    --latteFlamingo:       #DD7878;
    --latteFlamingoRGB:    221, 120, 120;

    --lattePink:           #EA76CB;
    --lattePinkRGB:        234, 118, 203;

    --latteMauve:          #8839EF;
    --latteMauveRGB:       136, 57, 239;

    --latteRed:            #D20F39;
    --latteRedRGB:         210, 15, 57;

    --latteMaroon:         #E64553;
    --latteMaroonRGB:      230, 69, 83;

    --lattePeach:          #FE640B;
    --lattePeachRGB:       254, 100, 11;

    --latteYellow:         #DF8E1D;
    --latteYellowRGB:      223, 142, 29;

    --latteGreen:          #40A02B;
    --latteGreenRGB:       64, 160, 43;

    --latteTeal:           #179299;
    --latteTealRGB:        23, 146, 153;

    --latteSky:            #04A5E5;
    --latteSkyRGB:         4, 165, 229;

    --latteSapphire:       #209FB5;
    --latteSapphireRGB:    23, 159, 181;

    --latteBlue:           #1E66F5;
    --latteBlueRGB:        30, 102, 245;

    --latteLavender:       #7287FD;
    --latteLavenderRGB:    114, 135, 253;

    --latteText:           #4C4F69;
    --latteTextRGB:        76, 79, 105;

    --latteSubtext1:       #5C5F77;
    --latteSubtext1RGB:    92, 95, 119;

    --latteSubtext0:       #6C6F85;
    --latteSubtext0RGB:    108, 111, 133;

    --latteOverlay2:       #7C7F93;
    --latteOverlay2RGB:    124, 127, 147;

    --latteOverlay1:       #8C8FA1;
    --latteOverlay1RGB:    140, 143, 161;

    --latteOverlay0:       #9CA0B0;
    --latteOverlay0RGB:    156, 160, 176;

    --latteSurface2:       #ACB0BE;
    --latteSurface2RGB:    172, 176, 190;

    --latteSurface1:       #BCC0CC;
    --latteSurface1RGB:    188, 192, 204;

    --latteSurface0:       #CCD0DA;
    --latteSurface0RGB:    204, 208, 218;

    --latteBase:           #EFF1F5;
    --latteBaseRGB:        239, 241, 245;

    --latteMantle:         #E6E9EF;
    --latteMantleRGB:      230, 233, 239;

    --latteCrust:          #DCE0E8;
    --latteCrustRGB:       220, 224, 232;

    /************************************************/
    /************************************************/
    /* General colors. */
    --black:    #000000;

}