root{
    --macchiatoRosewater:      ;
    --macchiatoRosewaterRGB:   ;

    --macchiatoFlamingo:       ;
    --macchiatoFlamingoRGB:    ;

    --macchiatoPink:           ;
    --macchiatoPinkRGB:        ;

    --macchiatoMauve:          ;
    --macchiatoMauveRGB:       ;

    --macchiatoRed:            ;
    --macchiatoRedRGB:         ;

    --macchiatoMaroon:         ;
    --macchiatoMaroonRGB:      ;

    --macchiatoPeach:          ;
    --macchiatoPeachRGB:       ;

    --macchiatoYellow:         ;
    --macchiatoYellowRGB:      ;

    --macchiatoGreen:          ;
    --macchiatoGreenRGB:       ;

    --macchiatoTeal:           ;
    --macchiatoTealRGB:        ;

    --macchiatoSky:            ;
    --macchiatoSkyRGB:         ;

    --macchiatoSapphire:       ;
    --macchiatoSapphireRGB:    ;

    --macchiatoBlue:           ;
    --macchiatoBlueRGB:        ;

    --macchiatoLavender:       ;
    --macchiatoLavenderRGB:    ;

    --macchiatoText:           ;
    --macchiatoTextRGB:        ;

    --macchiatoSubtext1:       ;
    --macchiatoSubtext1RGB:    ;

    --macchiatoSubtext2:       ;
    --macchiatoSubtext2RGB:    ;

    --macchiatoOverlay2:       ;
    --macchiatoOverlay2RGB:    ;

    --macchiatoOverlay1:       ;
    --macchiatoOverlay1RGB:    ;

    --macchiatoOverlay0:       ;
    --macchiatoOverlay0RGB:    ;

    --macchiatoSurface2:       ;
    --macchiatoSurface2RGB:    ;

    --macchiatoSurface1:       ;
    --macchiatoSurface1RGB:    ;

    --macchiatoSurface0:       ;
    --macchiatoSurface0RGB:    ;

    --macchiatoBase:           ;
    --macchiatoBaseRGB:        ;

    --macchiatoMantle:         ;
    --macchiatoMantleRGB:      ;

    --macchiatoCrust:          ;
    --macchiatoCrustRGB:       ;
}