#transactions {
    width: var(--transaction-width);
}


#paycheckGrouping {
    width: 75%;

    margin: 0 auto auto auto;
}

/**** TRANSACTION CONTROLS ****/
#transactionControlsContainer {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1ch;

    width: 100%;
    margin-bottom: 1em;
}

#transactionControlsContainer > #monthBackButton,
#transactionControlsContainer > #monthForwardButton {
    margin: auto 0 auto 0;
    padding: 0 calc(0.50 * var(--card-padding)) 0 calc(0.50 * var(--card-padding));

    height: fit-content;
    width: auto;
    aspect-ratio: 1;
}

#transactionControlsContainer > input[type="date"] {
    background: transparent;
}

#transactionControlsContainer > span {
    margin-top: auto;
    margin-bottom: auto;
}

#addTransactionButton {
    margin: unset;
    margin-right: auto;
}


/**** TRANSACTIONS TABLE ****/
table, tr {
    width: 100%;
    table-layout: fixed;

    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    display: table;
}

table > tbody {
    padding: var(--card-padding);
}

.transaction {
    background-color: var(--odd-row-background);
    transition: var(--transaction-background-transition);

    cursor: pointer;
}

.transaction:hover {
    background-color: var(--transaction-hover-background);
}

.transactionTableDescription {
    /* Take up all remaining room with the description.
       Other columns will fit to the longest cell. */
    width: 100%;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.transactionTableAmount {
    width: 6em;
}

.transactionTableDate {
    width: 6rem;
}

.transactionTableTag {
    width: 6rem;
}

.transactionTableSelect, .transactionTableDelete {
    text-align: center;
}

.transactionTableSelect {
    width: 1.5rem;
}

.transactionTableDelete {
    width: 1.1rem;
}

.transactionTableDeleteIcon {
    height: 1.5em;
}

.transactionTableDate, .transactionTableLocation,
.transactionTableAccount, .transactionTableTag,
.transactionTableDescription {
    text-align: left;
}

table thead {
    color: var(--header-row-foreground);
    background-color: var(--header-row-background);
}

table thead tr th,
table tbody tr td {
    padding: var(--transaction-table-cell-side-padding);
}

table tbody tr {
    border-bottom: solid 1px var(--table-border-color);
}

table tbody tr:nth-of-type(odd) {
    background-color: var(--odd-row-background);
}
table tbody tr:nth-of-type(even) {
    background-color: var(--even-row-background);
}

.transactionTableAmount {
    text-align: right;
}

/* Transaction Table Page Selectors */
#tagSeparator {
    width: 100%;
    margin: 1em 0 1em 0;
}

#transactionTablePageContainer {
    width: 100%;

    margin-top: 1rem;

    display: flex;
    flex-flow: row nowrap;
    column-gap: 0.5rem;
    justify-content: space-between;
}

#transactionTablePageSelectionContainer {
    display: flex;
    flex-flow: row wrap;
    column-gap: 0rem;
}

#transactionTableNumbers {
    white-space: nowrap;
}

.transactionPage {
    min-width: 1rem;
    border: solid 1px var(--foreground-text);
    text-align: center;
    padding-left: 0.25rem;
    padding-right: 0.25rem;

    cursor: pointer;
}

.transactionPage.currentPage {
    color: var(--background-color);
    background-color: var(--foreground-text);
    text-decoration: none;
    cursor: not-allowed;
}

.transactionPage:hover {
    background-color: var(--background-color-card-l1);
}

.transactionPage.currentPage:hover {
    background-color: var(--foreground-text);
}

/** Tag Summaries **/
#tagOverview {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 0.5em;
    width: 100%;
}

#tagOverview > div.tagSummary {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1em;
    width: 100%;
}

#tagOverview > div.tagSummary > span.tagName {
    width: 15ch;
    flex-grow: 0;

    overflow: hidden;
    text-overflow: ellipsis;
}

#tagOverview > div.tagSummary > div.tagBar {
    flex-grow: 2;

    border: solid 1px black;
    border-radius: 0.5em;
}

#tagOverview > div.tagSummary > span.tagAmount {
    width: 10ch;
    flex-grow: 0;
    text-align: right;
}

#tagOverview > div.tagSummary:last-child > div.tagBar {
    border: none;
}
#tagOverview > div.tagSummary:last-child > span.tagName,
#tagOverview > div.tagSummary:last-child > span.tagAmount {
    font-weight: bold;
}
